html, body {
    margin: 0;
    padding: 0;
    background: url('assets/chapel.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

#whiteoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 5s ease-in-out;
    opacity: 1;
}

#overlaytext {
    font-size: 3rem;
    color: black;
    animation: blink 1s infinite;
    transition: opacity 0.5s ease-out;
}

#cutscene {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 100;
}

#blackoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 100;
    opacity: 0;
    transition: opacity 1s ease;
    display: none;
}

@keyframes blink {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.aerith-container {
    position: relative;
    margin-right: 20px;
    margin-top: 500px;
    width: 400px;
    float: right;
}

.gif-img {
    display: block;
    width: 100%;
    height: auto;
    transform: scaleX(-1);
}

.ken-container {
    position: relative;
    margin-right: 800px;
    margin-top: 200px;
    width: 650px;
    float: right;
}

.sprite-img {
    display: block;
    width: 100%;
    height: auto;
    transform: scaleX(-1);
}

#dialogueBox {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    padding: 20px 40px;
    text-align: center;
    z-index: 150;
    cursor: pointer;
}

#dialogueText{
    font-family: 'subtitle', Arial, sans-serif;
    font-size: 2rem;
    color: #fff;
    margin: 0;
}


@font-face {
    font-family: 'FinalFantasy';
    src: url('assets/Runic\ MT\ Std\ Condensed.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face{ 
	font-family: 'subtitle';
	src: url('assets/Optima\ Medium.ttf') format('truetype') ;  
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


h1 {
    font-family: 'FinalFantasy', sans-serif;
    font-size: 8rem;
    text-align: center;
    margin: 0.5em 0;
    color: black;
    text-decoration: underline;
    text-shadow: 
        0.5px  0.5px 0 white,
        -0.5px -0.5px 0 white,
        0.5px -0.5px 0 white,
        -0.5px  0.5px 0 white;
}

p {
    font-family: 'subtitle'; 
    font-size: 2rem;
    text-align: center;
    margin: 0.5em 0;
    color: white;
    text-shadow: 
        2.5px  1px 0 black,
        2px 0.5px 0 black,
        0.5px -0.3px 0 black,
        1px  0.5px 0 black;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    height: 10vh;           
    text-align: center;
}